* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 2em;
    font-family: "Pacifico", cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #7890cd;
    height: 100px;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
}

#logo {
    height: 90%;
    margin: min(5px, 0.5vh);
}

#headerLinks {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;
}

#headerLinks a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: min(1em, 5vh);
}

#filtres {
    width: 230px;
    max-width: 20vw;
}

#filtres a {
    padding: 0;
}

#filtresMenu {
    width: 230px;
    max-width: 20vw;
    display: none;
    position: absolute;
    background-color: #7890cd;
}

#filtres:hover  #filtresMenu {
    display: block;
}

hr {
    color: white;
    margin: 5px;
}

section {
    text-align: center;
    border: solid 2px black;
}

#bigDiv {
    margin: min(30px, 3vh);
    padding: 10px;
    height: 200px;
}

#alignSect {
    margin: min(30px, 3vh);
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}

#sectionLast {
    padding: 30px;
}

#lastRecipes {
    margin-top: 10px;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5%;
}

.lastRecipe {
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 2px black;
    padding: 0 20px;
    text-align: left;
    gap: 5%;
}

.lastRecipe img {
    height: 90%;
}

#edito {
    background-color: #2a3990;
    color: white;
    padding: 20px;
}

#edito > p {
    text-align: justify;
}

#imgCuistot {
    height: 30%;
}

main {
    padding-bottom: 5vh;
    min-height: calc(95vh - min(100px, 10vh) - min(200px, 20vh));
}

footer {
    width: 100%;
    background-color: #2a3990;
    height: 200px;
    max-height: 20vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socialLinks {
    background-color: white;
    height: 30%;
    width: 10%;
}